body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #87CEEB; /* 연한 하늘색 */
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

.post {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
}

.date {
    font-size: 0.9rem;
    color: #999;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
